@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root{
    /* primary */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    /* neutral */
    /* paragrhaps */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    /* (background, headings, buttons) */
    --very-light-gray: hsl(0, 0%, 95%);
}
*{
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    /* font-family: 'Big Shoulders Display'; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
}
main{
    width: 100%;
    min-height: 100vh;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--very-light-gray);
}
.cards{
    width: 80%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.sedans{
    background-color: var(--bright-orange);
}
.suvs{
    background-color: var(--dark-cyan);
}
.luxury{
    background-color: var(--very-dark-cyan);
}
.cards__card{
    width: 100%;
    padding: 3.5rem 3rem;
}
.cards__card:first-child{
    border-radius: 1rem 1rem 0 0;
}
.cards__card:last-child{
    border-radius: 0 0 1rem 1rem;
}
.card__img{
    margin-bottom: 1.8rem;
    /* background-color: red; */
    position: relative;
    display: block;
    transition-duration: 2s;
}
.cards__card:first-child:hover .card__img,
.cards__card:nth-child(2):hover .card__img,
.cards__card:last-child:hover .card__img{
    transform: translateX(229px);
}
.card__text h2{
    font-family: 'Big Shoulders Display';
    font-size: 2.5rem;
    color: var(--very-light-gray);
}
.card__text h2,
.card__text p{
    margin-bottom: 2rem;
}
.card__text p{
    color: var(--transparent-white);
}
.card__text a{
    background: var(--very-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 45px;
    border-radius: 2rem;
    text-decoration: none;
    transition-duration: .9s;
    border: 2px solid transparent;
    /* padding: 1rem 2rem; */
    /* font-weight: bold; */
}
.card__text a:hover{
    color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray);
    border-radius: initial;
}
.a__sedans{
    color: var(--bright-orange);
}
.a__sedans:hover{
    background-color: var(--bright-orange);
}
.a__suvs{
    color: var(--dark-cyan);
}
.a__suvs:hover{
    background-color: var(--dark-cyan);
}
.a__luxury{
    color:var(--very-dark-cyan);
}
.a__luxury:hover{
    background-color: var(--very-dark-cyan);
}
footer{
    background: var(--very-light-gray);
    padding: 1rem 0;
}
@media screen and (min-width: 992px){
    .cards{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 900px;
        max-width: 900px;
    }
    .cards__card:first-child{
        border-radius: 1rem 0 0 1rem;
    }
    .cards__card:last-child{
        border-radius: 0 1rem 1rem 0;
    }
    .cards__card:first-child:hover .card__img,
    .cards__card:nth-child(2):hover .card__img,
    .cards__card:last-child:hover .card__img{
    transform: translateX(145px);
}
    .card__text p{
        margin-bottom: 4.9rem;
    }
}